// .env# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log

# Virtual envs
venv/
.env/
.env.*
.venv/
pip-wheel-metadata/

# Editors/OS
.vscode/
.idea/
*.iml
.DS_Store

# Build artifacts
dist/
build/
.eggs/
*.egg-info/